.cards{
    background-color: bisque;
    display: flex;
    flex-flow: row;
    gap: 20px;
    margin: 20px;
    padding: 30px;
    width: fit-content;
}

.card{
    background-color: tomato;
    width: 150px;
    height: 200px;
}

#btn{
    color: teal;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 10px;
    border: none;
    padding: 10px;
}
#btn:hover{
    cursor: pointer;
}

form{
    width: 300px;
    display: flex;
    flex-flow: column;
    gap: 10x;
    margin: auto;
}